<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/app1/contact.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Deeksha Granio Impex</h1>
        </div>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About Us</a>
            <a href="{% url 'home' %}#products">Products</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <section id="contact">
        <h2>Contact Us</h2>

        <div class="contact-info">
            <h3>Our Office</h3>
            <p>Deeksha Granio Impex<br>Sy no-86/3, Harapanahalli Village<br> Jigani Hobali Anekal Taluk<br>Bangalore Rural,Karnataka-560105</p>
            
            <h3>Email</h3>
            <p><a href="mailto:info@deekshagranio.com">rakesh_sheoran@yahoo.com</a></p>
            
            <h3>Phone</h3>
            <p>Rakesh Kumar<br><a href="tel:+919876543210">+91 96201 26100</a></p>

            <h3>Business Hours</h3>
            <p>Monday - Friday: 9:00 AM - 8:00 PM<br>Saturday: 10:00 AM - 4:00 PM<br>Sunday: Closed</p>
        </div>

        <form action="https://api.web3forms.com/submit" method="POST">
            {% csrf_token %}
            <input type="hidden" name="access_key" value="193ae074-0c3a-46b5-9c6e-748d4a20378c">
            <label for="name">Your Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
        
            <label for="email">Your Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
        
            <label for="message">Your Message</label>
            <textarea id="message" name="message" rows="5" placeholder="Type your message" required></textarea>
        
            <button type="submit">Send</button>
        </form>
        <ul>
            {% for names in dbdata %}
                <li>{{names.name}}</li>
            {% endfor %}
        </ul>
        
    </section>

    <footer>
        <p>© 2024 Deeksha Granio Impex | All Rights Reserved</p>
    </footer>
</body>
</html>
